
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}
body {
    background-image:url("5026621.jpg");
    
}
p {
    color:white
}
h1 {
    color:white
}
h1 {
    text-align:center
}
img {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
  }
